/* Global */

html{
	background: #e9dede4d;
}

.nav_list{
	margin-top:12px;
	float:right;
}

.nav_list li{
	display:  inline;
	padding:10px;
}

.asm-gallery-cell h3{
	color:#111;
	font-size:33px;
	__font-family:Suranna;
	letter-spacing:.6px;
	font-weight:100;
}
.asm-gallery-cell{
	opacity:0;
}
.asm-gallery-cell .portfolio-terms{
	font-size:13px;
	letter-spacing:.5px;
	color:rgba(204, 204, 204, 0.92);
}
.asm-gallery-cell.asm-cell-description .mask{
	line-height:1.8em;
	text-align:left;
	opacity:1;
	padding:60px 85px;
	background-color:#F9F9F3;
}
.asm-gallery-cell .inner{
	border:0;
}
.asm-gallery-filters li a{
	font-size:13px;
	letter-spacing:.5px;
	color:rgba(204, 204, 204, 0.92);
}
.asm-gallery-filters li{
	color:rgba(204, 204, 204, 0.92);
	padding:0px 25px 0px 0px;
}
.asm-gallery-filters li a:hover,
.asm-gallery-filters li a.w--current{
	color:#B69853;
}
.asm-header{
	height:160px;
	position:absolute;
	top:0;
}
.asm-header > .w-container{
	padding-top:5px;
	padding-bottom:5px;
	background-color:#fff;
}
.asm-header.asm-sticky.asm-sticky-offscreen{
	transform:none;
	-ms-transform:none;
	-webkit-transform:none;
}
.asm-header-menu .button-side-menu-container{
	height:28px;
}
.asm-header-menu .menu li a{
	letter-spacing:1px;
	font-size:14px;
	padding:6px 20px;
	color:#999;
	border:0;
}
.asm-header-menu .menu{
	padding:0;
}
.asm-header-menu .menu > li:last-child a{
	padding-right:0px;
}
.asm-header-menu .menu li a:hover,
.asm-header-menu .menu .current-menu-item > a,
.asm-header-menu .menu .current-menu-parent > a{
	color:#111;
}
.asm-header-menu .sub-menu{
	padding-bottom:10px;
	transform:translate3d(0, 20px, 0);
	-ms-transform:translate3d(0, 20px, 0);
	-webkit-transform:translate3d(0, 20px, 0);
	-webkit-transition:all 0.25s ease;
	transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	opacity:0;
}
.asm-header-menu .menu li:hover > .sub-menu{
	transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	-webkit-transform:translate3d(0, 0, 0);
	opacity:1;
}
.asm-title{
	margin-top:0px;
	margin-bottom:20px;
	font-size:33px;
	line-height:44px;
	font-weight:300;
}
.asm-title a,
.asm-title a:visited{
	color:inherit;
}
.asm-title a:hover{
	color:#888;
}
.asm-title.asm-a-underlined a{
	display:inline-block;
	border-bottom:1px solid transparent;
}
.asm-title.asm-a-underlined a:hover{
	border-bottom:1px solid #bb9d56;
}
.asm-page{
	font-family:Roboto;
	color:#111;
	margin:0 auto;
	max-width:1358px;
	font-weight:300;
	min-height:400px;
	padding-top:0 !important;
	padding-bottom:0 !important;
	font-size:14px;
}
.asm-page .subtitle{
	font-size:11px;
	color:rgba(0, 0, 0, 0.8);
	padding-bottom:8px;
	letter-spacing:.4px;
	font-weight:400;
	text-shadow:0px 0px 1px rgba(0,0,0,.1);
}
.asm-page .asm-footer .subtitle{
	margin-top:0;
}
.asm-page .subtitle.two{
	font-size:17px;
	padding-bottom:20px;
}
.asm-page a{
	text-decoration:none;
	border-bottom:1px dotted #999;
	color:#999;
}
.asm-page a.more-link,
.asm-page p a[href]{
	color:#111;
	padding-bottom:1px;
}
.asm-page a.more-link{
	border-bottom:1px solid #111;
}
.asm-page a[href]:hover{
	color:#111;
}
.asm-page a.more-link:hover,
.asm-page p a[href]:hover{
	color:rgba(0, 0, 0, 0.8);
	border-color:inherit;
}
.asm-page .wrapper.inner{
	padding-top:160px;
	position:relative;
}
.asm-page b,
.asm-page strong,
.asm-page th{
	font-weight:500;
	color:rgba(0, 0, 0, 0.8);
}
.asm-page::selection,
.asm-page *::selection{
	background:#111;
	color:#FFF;
}
.asm-page [data-ix|="staggering"]:not(.asm-ix-child){
	visibility:hidden;
	overflow:hidden;
}
.asm-page .asm-ix-parent{
	overflow:hidden;
}
.asm-page .asm-ix-child{
	display:inline-block;
	transform:translateY(100%);
}
.asm-page [data-ix|="header"]:not(.asm-ix-child){
	visibility:hidden;
}
.asm-page #menu-list ul li a{
	color:#111;
	font-size:27px;
	line-height:80px;
	display:inline-block;
	__font-family:Suranna;
	letter-spacing:1px;
	border-bottom:0;
}
.asm-page #menu-list .sub-menu{
	transition:height 600ms 100ms cubic-bezier(.19,1,.22,1), opacity 200ms 0ms ease;
	opacity:0;
	margin-left:0;
}
.asm-page #menu-list .sub-menu li a{
	font-size:14px;
	line-height:37px;
	font-family:Roboto;
}
.asm-page #menu-list .sub-menu li:first-child{
	__padding-top:10px;
}
.asm-page #menu-list .sub-menu li:last-child{
	padding-bottom:20px;
}
.asm-page #menu-list ul li.open .sub-menu{
	transition:height 250ms 0ms ease, opacity 100ms 0ms ease;
	opacity:1;
}
.asm-page #menu-side.open #menu-list > ul > .menu-item{
	transform:translateX(0%);
	transition:transform 200ms 0ms ease, opacity 200ms 0ms ease;
	opacity:1;
}
.asm-page #menu-side #menu-list > ul > .menu-item{
	transition:none;
	transform:translateX(25%);
	opacity:0;
}
.asm-page #menu-overlay #menu-list ul li a{
	font-size:48px;
	line-height:115px;
}
.asm-page #menu-overlay #menu-list > ul > li.menu-item-has-children > a::after{
	top:58px;
	margin-left:15px;
}
.asm-page #menu-overlay #menu-list .sub-menu li a{
	font-size:16px;
	line-height:44px;
	font-family:Roboto;
	color:#6F6F6F;
}
.asm-page #menu-overlay.open #menu-list > ul > .menu-item{
	transform:translateX(0%);
	transition:transform 200ms 0ms ease, opacity 200ms 0ms ease;
	opacity:1;
}
.asm-page #menu-overlay #menu-list > ul > .menu-item{
	transition:none;
	transform:translateX(25%);
	opacity:0;
}
.asm-page #menu-overlay #menu-list{
	margin-top:57px;
}
.asm-page .loading-mask{
	pointer-events:none;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0, .7);
	z-index:100;
	transition:opacity 400ms 0ms ease;
}
.asm-page .loading-mask.hide{
	opacity:0;
}
.asm-page .loading-mask::after{
	position:absolute;
	top:50%;
	left:50%;
	background-color:rgba(0, 0, 0, 0);
	width:45px;
	height:45px;
	margin:-20px 0 0 -20px;
	border-width:5px;
	border-style:solid;
	border-color:#FFF #FFF rgba(51, 51, 51, 0.7) rgba(51, 51, 51, 0.7);
	opacity:1;
	border-radius:25px;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	-o-animation:spin 1s linear infinite;
	-ms-animation:spin 1s linear infinite;
	content:'';
}
.asm-page #menu-list ul li.current-menu-item > a,
.asm-page #menu-list ul li a:hover,
.asm-page #menu-list ul li.current-menu-parent > a{
	color:rgba(0, 0, 0, 0.8);
}
.asm-page #menu-list ul.sub-menu li.current-menu-item > a,
.asm-page #menu-list ul.sub-menu li > a:hover{
	color:rgba(204, 204, 204, 0.92);
}
.asm-page #menu-list > ul > li.menu-item-has-children > a::after{
	content:'';
	width:0;
	height:0;
	border-style:solid;
	border-width:4px 4px 0 4px;
	border-color:#111 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	position:absolute;
	top:40px;
	margin-left:8px;
}
.asm-page #menu-list > ul > li > a:hover::after,
.asm-page #menu-list > ul > li.current-menu-parent > a::after{
	border-color:rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.asm-page #menu-overlay ul li.current-menu-item > a,
.asm-page #menu-overlay ul li a:hover,
.asm-page #menu-overlay ul li.current-menu-parent > a{
	color:rgba(255, 255, 255, 0.8);
}
.asm-page #menu-overlay #menu-list > ul > li > a:hover::after,
.asm-page #menu-overlay #menu-list > ul > li.current-menu-parent > a::after{
	border-color:rgba(255, 255, 255, 0.8) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.asm-page #menu-overlay #menu-list .sub-menu li a:hover,
.asm-page #menu-overlay #menu-list .sub-menu li.current-menu-item a{
	color:#fff;
}
.asm-page .anim-burger,
.asm-page .anim-burger:before,
.asm-page .anim-burger:after{
	height:2px;
}
.asm-page .anim-burger:after{
	width:13px;
}
.asm-page .burger-box.open .anim-burger:after{
	width:20px;
}
.asm-page input[type="text"],
.asm-page input[type="email"],
.asm-page input[type="url"],
.asm-page input[type="password"],
.asm-page input[type="search"],
.asm-page input[type="number"],
.asm-page input[type="tel"],
.asm-page input[type="range"],
.asm-page input[type="date"],
.asm-page input[type="month"],
.asm-page input[type="week"],
.asm-page input[type="time"],
.asm-page input[type="datetime"],
.asm-page input[type="datetime-local"],
.asm-page input[type="color"],
.asm-page textarea{
	padding:10px 15px;
	border-radius:0;
	color:#888;
	font-weight:100;
	font-size:15px;
	font-family:Roboto, Serif;
	margin-top:5px;
	margin-bottom:5px;
	box-sizing:inherit;
}
.asm-page button,
.asm-page input[type="button"],
.asm-page input[type="reset"],
.asm-page input[type="submit"]{
	box-shadow:none;
	font-family:Roboto, serif;
	font-size:13px;
	color:#fff;
	font-weight:400;
	padding:15px 20px;
	background-color:#111;
	border-radius:0;
	text-transform:uppercase;
	letter-spacing:1px;
	text-shadow:none;
	border:1px solid #111;
}
.asm-page button:focus,
.asm-page input[type="button"]:focus,
.asm-page input[type="reset"]:focus,
.asm-page input[type="submit"]:focus,
.asm-page button:active,
.asm-page input[type="button"]:active,
.asm-page input[type="reset"]:active,
.asm-page input[type="submit"]:active{
	outline:0px;
}
.asm-page .search-submit{
	display:none;
}
.asm-page button:hover,
.asm-page input[type="button"]:hover,
.asm-page input[type="reset"]:hover,
.asm-page input[type="submit"]:hover{
	color:#111;
	background-color:#fff;
}
.asm-page .burger-box.side.menu-temporal{
	top:87px;
	right:66px;
}
.asm-page #comments ul,
.asm-page #comments ol{
	margin-left:0;
}
.asm-page p{
	margin-bottom:30px;
	color:#797979;
}
.asm-page .wpcf7-form p{
	margin-bottom:15px;
}
.asm-page .wpcf7-form{
	margin-top:24px;
}
body.asm-page a.burger-box{
	border-bottom:0;
}
.asm-post-list .asm-post-list{
	margin-bottom:63px;
}
.asm-post-list a.more-link{
	display:table;
	margin-top:40px;
	line-height:18px;
	letter-spacing:.4px;
}
.asm-post-list .asm-post-image{
	margin-left:-85px;
	margin-right:-85px;
	margin-bottom:78px;
}
.asm-post-list .asm-post-content{
	margin-top:43px;
	margin-bottom:105px;
}
.asm-post-list .asm-post-column{
	width:60%;
	margin:0 auto;
}
.asm-post-list .asm-post-categories li{
	padding-right:25px;
}
.asm-post-list .asm-post-categories li a{
	color:rgba(204, 204, 204, 0.92);
	font-size:13px;
	letter-spacing:.5px;
}
.asm-post-list .asm-post-date{
	font-weight:600;
	font-size:11px;
	color:rgba(0, 0, 0, 0.8);
	letter-spacing:.4px;
}
.asm-post-list .asm-title.asm-post-title{
	margin-top:47px;
	margin-bottom:14px;
}
.asm-post-list .asm-post-categories li a:hover{
	color:#bb9d56;
}
.asm-post-list .asm-post-pagination1{
	padding:20px 0;
	background-color:#F5F5EB;
	margin-left:-85px;
	margin-right:-85px;
	padding-left:85px;
	padding-right:85px;
}
.asm-post-list .asm-post-next1{
	float:right;
}
.asm-post-list .pagination,
.asm-post-list .asm-post-pagination{
	padding-bottom:45px;
}
.asm-post-list .pagination .page-numbers,
.asm-post-list .asm-post-pagination a{
	padding-right:8px;
	font-size:14px;
	letter-spacing:.5px;
}
.asm-post-list .pagination .page-numbers.current{
	color:#bb9d56;
}
.asm-post-list .asm-post-pagination a{
	padding-right:25px;
}
.asm-post-list h1,
.asm-post-list h2,
.asm-post-list h3,
.asm-post-list h4,
.asm-post-list h5,
.asm-post-list h6{
	font-family:Suranna;
	color:rgba(0, 0, 0, 0.8);
	font-weight:300;
}
.asm-post-list h4,
.asm-post-list h5,
.asm-post-list h6{
	font-family:Roboto;
	font-weight:500;
}
.asm-post-list .nav-links a{
	-webkit-transform:rotateX(150deg);
	transform:rotateZ(-90deg);
	display:inline-block;
	position:fixed;
	top:50%;
	padding:0;
	font-size:11px;
	color:rgba(0, 0, 0, 0.8);
	padding-bottom:8px;
	letter-spacing:.4px;
	font-weight:400;
	text-shadow:0px 0px 1px rgba(0,0,0,.1);
	text-transform:uppercase;
}
.asm-post-list .nav-links .nav-previous a{
	left:9px;
}
.asm-post-list .nav-links .nav-next a{
	right:10px;
}
.asm-post-list dt{
	font-weight:500;
	color:rgba(0, 0, 0, 0.8);
}
.asm-category-filters li{
	color:rgba(204, 204, 204, 0.92);
	padding:5px 25px 5px 0px;
}
.asm-category-filters li a{
	font-size:13px;
	letter-spacing:.5px;
	color:rgba(204, 204, 204, 0.92);
}
.asm-category-filters li a:hover{
	color:#B69853;
}
.asm-category-filters.main-filters{
	margin-top:4px;
	margin-bottom:87px;
}
.asm-category-filters.main-filters li{
	color:#bb9d56;
	font-family:Suranna;
	font-size:24px;
	padding:8px 4px;
}
.asm-category-filters.main-filters li a{
	letter-spacing:.5px;
	color:#bb9d56;
	font-family:Suranna;
	display:inline-block;
	line-height:30px;
	font-size:24px;
	border-bottom:1px solid;
}
.asm-category-filters.main-filters li a:hover{
	color:rgba(0, 0, 0, 0.8);
}
.asm-category-filters.main-filters li:after{
	content:',';
	padding-left:1px;
}
.asm-category-filters.main-filters li .sup-num{
	font-size:12px;
	position:absolute;
	margin-top:-4px;
	padding-left:6px;
}
.asm-category-filters.main-filters li:last-child:after{
	display:none;
}
.asm-category-filters.main-filters li:nth-last-child(2):after{
	content:'&';
}
.asm-category-filters.main-filters li.w-current a{
	color:rgba(0, 0, 0, 0.8);
}
.asm-category-filters.main-filters li:first-child{
	padding-left:0;
}
.asm-category-filters li a:not([href]):hover{
	color:rgba(204, 204, 204, 0.92);
}
.asm-gallery div.w-container{
	padding:0px;
	overflow:hidden;
}
.asm-column p{
	line-height:1.8em;
	margin-top:0;
}
.asm-column.asm-column-muted{
	__color:rgba(204, 204, 204, 0.92);
	font-size:17px;
	color:rgba(195, 195, 195, 0.92);
}
.asm-column h1{
	margin-top:0px;
	margin-bottom:20px;
	font-size:33px;
	line-height:44px;
	font-weight:300;
}
.asm-social a{
	width:auto;
	height:auto;
	border:0;
	font-size:14px;
	padding:0 3px;
}
.asm-button a{
	border-bottom:1px solid #bb9d56;
}
.asm-button a[href]:hover{
	color:rgba(0, 0, 0, 0.8);
	border-bottom:1px solid rgba(0, 0, 0, 0.8);
}
.asm-comments{
	padding-top:100px;
	padding-bottom:63px;
}
.asm-comments .comment-reply-title,
.asm-comments .comments-title,
.asm-comments label{
	font-size:11px;
	color:rgba(0, 0, 0, 0.8);
	padding-bottom:8px;
	letter-spacing:.4px;
	font-weight:400;
	text-shadow:0px 0px 1px rgba(0,0,0,.1);
	text-transform:uppercase;
}
.asm-comments .comment-form-comment > label{
	display:none;
}
.asm-comments .logged-in-as a:last-child{
	float:right;
}
.asm-comments .logged-in-as{
	margin-bottom:0;
}
.asm-comments .comment-form-comment,
.asm-comments .comment-form-comment textarea{
	margin-top:0;
}
.asm-comments .comment-list .children{
	padding-left:0;
	margin-left:2em;
}
.asm-comments .comment-list{
	margin-left:0px;
	padding-left:0px;
}
.asm-comments .comment-reply-link{
	color:#bb9d56;
	font-weight:300;
	padding:5px 0px;
	border-bottom:1px solid #bb9d56;
}
.asm-comments .comment-body{
	position:relative;
	padding-top:25px;
	border-top:1px solid #EAEAEA;
	padding-bottom:12px;
}
.asm-comments .comment-date{
	font-size:14px;
	line-height:12px;
	padding-top:5px;
	padding-left:50px;
}
.asm-comments .comment-author{
	font-size:14px;
	padding-left:50px;
	color:#D2D2D2;
}
.asm-comments img.avatar{
	float:left;
}
.asm-comments .comment-reply{
	right:0;
	position:absolute;
	top:16px;
}
.asm-comments form.comment-form  label + input{
	margin-top:0;
}
.asm-sidebar ul,
.asm-sidebar li > ul,
.asm-sidebar li > ol{
	margin-left:0;
}
.asm-sidebar .asm-widget-title{
	font-size:11px;
	color:rgba(0, 0, 0, 0.8);
	padding-bottom:8px;
	letter-spacing:.4px;
	font-weight:400;
	text-shadow:0px 0px 1px rgba(0,0,0,.1);
	text-transform:uppercase;
}
.asm-sidebar{
	padding-right:85px;
	font-size:15px;
	padding-left:45px;
}
.asm-sidebar #wp-calendar td,
.asm-sidebar #wp-calendar th{
	text-align:center;
	font-size:13px;
}
.asm-header-logo .asm-logo-link{
	border:0;
}

@media (max-width: 991px){
	.asm-post-list .asm-post-column{
		width:100%;
	}
	.asm-post-list .asm-post-image{
		margin-left:-45px;
		margin-right:-45px;
	}
	.asm-post-list .nav-links .nav-previous a{
		left:-14px;
	}
	.asm-post-list .nav-links .nav-next a{
		right:-3px;
	}
	.asm-sidebar{
		padding-right:0;
	}
}

@media (max-width: 479px){
	.asm-page #menu-side{
		padding:60px;
	}
	.asm-page #menu-overlay .menu-list{
		width:70%;
	}
	.asm-page #menu-overlay{
		width:100%;
	}
}

/* Page inline */

body.page_93{
	padding:45px 70px;
}
.page_93 .asm-header.asm-sticky{
	padding:0 70px;
}
.page_93 .asm-header.asm-sticky .w-container{
	padding-top:25px;
	padding-bottom:25px;
}
.page_93 .wrapper.inner{
	background-color:#ffffff;
	position:relative;
}

@media (max-width: 991px){
	body.page_93{
		padding:40px;
	}
	.page_93 .asm-header.asm-sticky{
		padding:0 40px;
	}
}

/* Widgets */

#logo_1e6ed4620 .asm-image-responsive-logo{
	background-image:url(http://bloc.loopthemes.com/wp-content/uploads/2017/02/logo.svg);
	background-size:contain;
	width:85px;
}
#menu_197f00fe6{
	text-align:right;
	display:flex;
	align-items:center;
	justify-content:flex-end;
	height:100%;
}
#header_16ac0c77e.asm-sticky > .w-container{
	padding-top:5px;
	padding-bottom:5px;
}
#header_16ac0c77e.asm-sticky{
	margin:0 auto;
	max-width:1358px;
	height:80px;
	left:0;
	top:0;
	right:0;
}

@media (max-width: 479px){
	#header_16ac0c77e .asm-sticky{
		position:absolute;
		height:130px;
	}
	#header_16ac0c77e.asm-sticky > .w-container{
		padding-top:50px;
		padding-bottom:50px;
	}
}

#gallery_cell_14e44e858 .asm-image-responsive-img{
	background-image:url(http://bloc.loopthemes.com/wp-content/uploads/2017/02/montain-lake.jpg);
	background-size:cover;
}
#gallery_cell_14e44e858 .portfolio-image-responsive-size{
	padding-top:100%;
}
#gallery_cell_1967c09ef .asm-image-responsive-img{
	background-image:url(http://bloc.loopthemes.com/wp-content/uploads/2017/02/snow.jpg);
	background-size:cover;
}
#gallery_cell_1967c09ef .portfolio-image-responsive-size{
	padding-top:100%;
}
#gallery_cell_1313855aa .asm-image-responsive-img{
	background-image:url(http://bloc.loopthemes.com/wp-content/uploads/2017/02/noria.jpg);
	background-size:cover;
}
#gallery_cell_1313855aa .portfolio-image-responsive-size{
	padding-top:100%;
}
#gallery_cell_170e7befa .asm-image-responsive-img{
	background-image:url(http://bloc.loopthemes.com/wp-content/uploads/2017/02/rocks.jpg);
	background-size:cover;
	background-position:left top;
}
#gallery_cell_170e7befa .portfolio-image-responsive-size{
	padding-top:100%;
}
#gallery_cell_1725c8f70 .asm-image-responsive-img{
	background-image:url(http://bloc.loopthemes.com/wp-content/uploads/2017/02/liberty.jpg);
	background-size:cover;
	background-position:top;
	background-repeat:no-repeat;
}
#gallery_cell_1725c8f70 .portfolio-image-responsive-size{
	padding-top:100%;
}
#gallery_cell_149237c86 .asm-image-responsive-img{
	background-image:url(http://bloc.loopthemes.com/wp-content/uploads/2017/02/clouds.jpg);
	background-size:cover;
}
#gallery_cell_149237c86 .portfolio-image-responsive-size{
	padding-top:100%;
}
#gallery_cell_19560e88d .asm-image-responsive-img{
	background-image:url(http://bloc.loopthemes.com/wp-content/uploads/2017/02/bridge.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
#gallery_cell_19560e88d .portfolio-image-responsive-size{
	padding-top:100%;
}
#gallery_cell_14f00c8ad .asm-image-responsive-img{
	background-image:url(http://bloc.loopthemes.com/wp-content/uploads/2017/02/half.jpg);
	background-size:cover;
}
#gallery_cell_14f00c8ad .portfolio-image-responsive-size{
	padding-top:100%;
}
#gallery_cell_156920da0 .asm-image-responsive-img{
	background-image:url(http://bloc.loopthemes.com/wp-content/uploads/2017/02/still.jpg);
	background-size:cover;
	background-position:right center;
}
#gallery_cell_156920da0 .portfolio-image-responsive-size{
	padding-top:100%;
}
#gallery_1e8bc8445 .asm-gallery-cell{
	border-width:20px;
	width:33.333%;
}
#gallery_1e8bc8445 .asm-gallery-container{
	margin:-20px;
	margin-top:-20px;
	margin-bottom:-20px;
	margin-left:-20px;
	margin-right:-20px;
}
#gallery_1e8bc8445 .portfolio-image-responsive-size{
	padding-top:100%;
}
#gallery_1e8bc8445 .asm-gallery-cell h3{
	font-size:33px;
}

@media (max-width: 991px){
	#gallery_cell_14e44e858 .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_1967c09ef .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_1313855aa .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_170e7befa .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_1725c8f70 .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_149237c86 .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_19560e88d .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_14f00c8ad .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_156920da0 .portfolio-image-responsive-size{
		padding-top:100%;
	}
}

@media (max-width: 767px){
	#gallery_cell_14e44e858 .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_1967c09ef .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_1313855aa .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_170e7befa .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_1725c8f70 .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_149237c86 .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_19560e88d .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_14f00c8ad .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_156920da0 .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_1e8bc8445 .asm-gallery-cell{
		width:50%;
	}
}

@media (max-width: 479px){
	#gallery_cell_14e44e858 .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_1967c09ef .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_1313855aa .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_170e7befa .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_1725c8f70 .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_149237c86 .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_19560e88d .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_14f00c8ad .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_cell_156920da0 .portfolio-image-responsive-size{
		padding-top:100%;
	}
	#gallery_1e8bc8445 .asm-gallery-cell{
		width:100%;
	}
}

#column_12a573822{
	font-size:14px;
	color:#bdbdbd;
}
#social_142b209a9{
	text-align:right;
}
#row_147fa6948{
	font-size:12px;
	line-height:20px;
	letter-spacing:.4px;
	height:auto;
	color:rgba(195, 195, 195, 0.92);
	padding-top:75px;
	padding-bottom:75px;
}

@media (max-width: 479px){
	#column_12a573822{
		display:none;
	}
	#social_142b209a9{
		text-align:center;
	}
}

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
